@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-pagination-bottom: 0px;

    --toastify-color-light: #fff;
    --toastify-color-dark: #1a2446;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #ff5353 !important;
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);

    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);

    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;

    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;

    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;

    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;

    --toastify-color-progress-light: linear-gradient(
        to right,
        #4cd964,
        #5ac8fa,
        #007aff,
        #34aadc,
        #5856d6,
        #ed7188
    );
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
}
.hide-scroll {
    -ms-overflow-style: none; /* для IE и Edge */
    scrollbar-width: none; /* для Firefox */
}
.select-default{
    --vs-width: 100%;
    --vs-min-height: 38px;
    --vs-padding: 4px 8px;
    --vs-border: 1px solid #212b50;
    --vs-border-radius: 12px;
    --vs-font-size: 1rem;
    --vs-font-weight: 600;
    --vs-font-family: inherit;
    --vs-text-color: #18181b;
    --vs-line-height: 1.5;
    --vs-background-color: #171f3d;
    --vs-disabled-background-color: #121522;
    --vs-outline-width: 1px;
    --vs-outline-color: #212b50;

    --vs-menu-offset-top: 8px;
    --vs-menu-height: 200px;
    --vs-menu-border: var(--vs-border);
    --vs-menu-background-color: var(--vs-background-color);
    --vs-menu-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --vs-menu-z-index: 2;



    --vs-option-width: 100%;
    --vs-option-padding: 8px 12px;
    --vs-option-cursor: pointer;
    --vs-option-font-size: var(--vs-font-size);
    --vs-option-font-weight: var(--vs-font-weight);
    --vs-option-text-align: -webkit-auto;
    --vs-option-text-color: var(--vs-text-color);
    --vs-option-hover-text-color: var(--vs-text-color);
    --vs-option-focused-text-color: var(--vs-text-color);
    --vs-option-selected-text-color: var(--vs-text-color);
    --vs-option-disabled-text-color: #52525b;
    --vs-option-background-color: var(--vs-menu-background);
    --vs-option-hover-background-color: #07090b !important;
    --vs-option-focused-background-color: var(--vs-option-hover-background-color);
    --vs-option-selected-background-color: #93c5fd;
    --vs-option-disabled-background-color: #f4f4f5;
    --vs-option-opacity-menu-open: 0.4;

    --vs-multi-value-margin: 2px;
    --vs-multi-value-border: 0px;
    --vs-multi-value-border-radius: 2px;
    --vs-multi-value-background-color: #f4f4f5;
    --vs-option-font-size: 14px;
    --vs-multi-value-label-padding: 4px 4px 4px 8px;
    --vs-multi-value-label-font-size: 12px;
    --vs-multi-value-label-font-weight: 400;
    --vs-multi-value-label-line-height: 1;
    --vs-multi-value-label-text-color: #3f3f46;

    --vs-multi-value-delete-padding: 0 3px;
    --vs-multi-value-delete-hover-background-color: #FF6467;
    --vs-multi-value-xmark-size: 16px;
    --vs-multi-value-xmark-cursor: pointer;
    --vs-multi-value-xmark-color: var(--vs-multi-value-label-text-color);
    --vs-multi-value-xmark-hover-color: #fff;

    --vs-indicators-gap: 0px;
    --vs-indicator-icon-size: 20px;
    --vs-indicator-icon-color: #fff;
    --vs-indicator-icon-cursor: pointer;
    --vs-indicator-dropdown-icon-transition: transform 0.2s ease-out;

    --vs-spinner-color: rgb(199 211 255 / 0.5);
    --vs-spinner-size: 16px;
}
.clear-button{
    @apply !hidden
}
.menu-option{
    background-color: #171f3d !important;
    color: #fff !important;
    @apply hover:!bg-black/10 transition-all;
}
.hide-scroll::-webkit-scrollbar {
    display: none; /* для Chrome, Safari и Opera */
}
.hide-scroll::-webkit-scrollbar-thumb {
    display: none;
}
.hide-scroll::-webkit-scrollbar-track {
    display: none;
}

body {
    @apply bg-background overflow-x-hidden text-white;
    font-family: "Inter", sans-serif !important;
}
.deposit_card_eth {
    background-image: url("/assets/images/account/bg/cards/deposit_card_eth.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.deposit_card_usdt {
    background-image: url("/assets/images/account/bg/cards/deposit_card_usdt.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.deposit_card_btc {
    background-image: url("/assets/images/account/bg/cards/deposit_card_btc.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.btn:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    z-index: 50;
    border-radius: 7px;
    background: linear-gradient(
        180deg,
        #e8edff 0%,
        rgba(232, 237, 255, 0) 100%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.btn {
    @apply hover:opacity-80 relative flex items-center gap-2 py-3 font-semibold leading-none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;

    color: #fff7e8;
    cursor: pointer;
    transition: all 0.3s ease;

    overflow: hidden;
}

input {
    box-shadow: none !important;
    outline: none !important;
    background-color: transparent !important;
    border: none !important;
    font-size: 16px;
    padding: 0 !important;
    font-weight: 500;
}

.main-input-wrapper {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid transparent;
}
.main-input-small input {
    @apply flex-1 w-full;
}
.main-input-small {
    @apply bg-secondary-sidebar-dark-1 rounded-xl flex items-center justify-between w-full gap-2 p-2;
    border-radius: 10px;
    background: #171f3d;
    border: 1px solid #212b50;
    position: relative;
    z-index: 1;
}
.border_angle {
    background: linear-gradient(var(--bg-color), var(--bg-color)) padding-box,
        linear-gradient(245deg, #298aff 0%, transparent 20%) border-box;
    --bg-color: #1a2446;
    border: 0.5px solid transparent;
}
.image_partner {
    @apply rounded-lg w-full h-full max-w-[400px];
}
.main-input {
    @apply bg-secondary-sidebar-dark-1 rounded-xl p-4 transition-all;
    border-radius: 10px;
    background: #171f3d;
    border: 1px solid #212b50;
    position: relative;
    z-index: 1;
}

.main-input-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #47f260, #47f260);
    animation: slide 2s linear infinite;
    z-index: 0;
    pointer-events: none;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.btn-green::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 37px;
    height: 20px;
    filter: blur(25px);
    background: #47f260;
}
.btn-danger {
    border-radius: 8px;
    background: #ff5353;
    color: #ffffff;
}
.notify-container {
    @apply absolute top-20 w-full  right-0 min-w-[350px] h-full min-h-[500px]  rounded-xl p-4 max-w-[350px] bg-[#1D2850];
    z-index: 100;
}
.notify-list {
    @apply flex flex-col gap-2 overflow-y-auto max-h-[370px];
}
.notify-list__item {
    @apply rounded-xl bg-dark-text-2 flex flex-col gap-2 p-4;
}
.shake {
    animation: shake 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform-origin: center center;
}
@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
    }
}
.btn-success {
    border-radius: 8px;
    background: #47f260;
    color: #ffffff;
}
.btn-green {
    border-radius: 8px;
    border: 1px solid rgba(93, 223, 89, 0);
    background: rgba(93, 223, 89, 0.1);
    color: #47f260;
}

.btn-white {
    border-radius: 10px;
    border: 4px solid rgba(199, 211, 255, 0.5);
    background: #e8edff;
    color: #1c4f8c;
}
.tag-danger {
    @apply bg-red-primary/10 text-red-primary;
}
.tag-primary:before {
    @apply left-1/2 absolute bottom-0 -translate-x-1/2;
    content: "";
    background: #298aff;
    filter: blur(10px);
    width: 13.333px;
    height: 13.333px;
}
.tag-primary {
    @apply bg-secondary text-primary relative;
}
.btn-sidebar:hover svg {
    @apply fill-primary;
}

.btn-sidebar svg {
    @apply fill-secondary-light/50;
}
.btn-sidebar::before {
    @apply -z-10 absolute inset-0;
}
.btn-sidebar.active {
    @apply bg-secondary-sidebar text-white;
}
.btn-sidebar.active svg {
    @apply fill-primary;
}
.btn-sidebar {
    @apply text-secondary-light/50 hover:text-white hover:bg-secondary-sidebar fill-secondary-light/50 hover:fill-primary px-3 font-extrabold transition-all;
}
.tag {
    @apply p-1.5 px-3 rounded-lg text-sm font-semibold relative overflow-hidden;
}
.btn-primary-light {
    background: linear-gradient(
        180deg,
        rgba(232, 237, 255, 0.2) 0%,
        rgba(232, 237, 255, 0.1) 100%
    );
}

.faq-item__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.expand-enter-active,
.expand-leave-active {
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    overflow: hidden;
}

.expand-enter-from,
.expand-leave-to {
    max-height: 0;
    opacity: 0;
}

.expand-enter-to,
.expand-leave-from {
    max-height: 500px;
}
.questions-bg {
    background-image: url("/assets/images/account/vip/questions-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-primary {
    background: #298aff;
    box-shadow: 0px 4px 4px 0px rgba(41, 138, 255, 0.25),
        0px 0px 10px 0px rgba(255, 255, 255, 0.25) inset;
}

.nav-element:hover::before {
    opacity: 100;
}

.nav-element::before {
    content: "";
    transition: opacity 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    width: 36px;
    height: 16px;
    filter: blur(25px);
    background: #298aff;
}

a:hover svg {
    @apply fill-primary opacity-100;
}

a svg {
    opacity: 0.5;
}

a {
    @apply text-secondary-light/50 hover:text-white font-semibold transition-all cursor-pointer;
}

.nav-element svg {
    @apply fill-secondary-light/50 w-6 h-6;
}

.nav-element.active svg {
    @apply fill-white opacity-100;
}

.nav-element.active {
    @apply text-white;
}
.aside-item-icon-laptop::before {
    content: url('data:image/svg+xml;utf8,<svg width="2" height="18" viewBox="0 0 2 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 2L-6.11959e-07 16" stroke="%23298AFF" stroke-width="4" stroke-linecap="round"/></svg>');
    @apply top-1/2 absolute inset-0 left-0 z-10 -translate-y-1/2;
    height: 50%;
    width: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.aside-item-icon-laptop:hover::before {
    opacity: 1;
}
.aside-item-icon-laptop {
    @apply flex relative items-center hover:text-primary justify-center text-[#E8EDFF] fill-[#E8EDFF] gap-2 w-10 h-10 rounded-xl hover:bg-primary/15 transition-all duration-300 bg-[#242F57] cursor-pointer;
}
.nav-element {
    @apply flex text-[15px] items-center gap-2 h-full w-fit font-semibold  text-secondary-light/50 relative;
}

.btn-orange {
    background: #ff9429;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.25) inset,
        0px 4px 4px 0px rgba(255, 166, 41, 0.25);
}

header {
    @apply h-[90px] bg-background px-5 flex items-center;
    border-bottom: 1px solid rgba(199, 211, 255, 0.05);
}

aside {
    @apply bg-secondary-sidebar lg:max-w-[90px] 2xl:max-w-[220px] w-full flex flex-col h-screen;
}

.aside {
    @apply bg-secondary-sidebar fixed max-w-[90px] 2xl:max-w-[220px] w-full flex flex-col h-screen z-50;
}

.logo-container {
    @apply flex items-center justify-center h-[90px] flex-shrink-0 text-xl font-extrabold gap-2.5;
    background-image: url("/assets/images/aside/bg-logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.aside-info-container {
    @apply px-5;
}

.aside-items-container {
    @apply flex flex-col gap-5;
}
.link{
    @apply text-primary hover:text-primary/80 transition-all;
}
.aside-items {
    @apply flex flex-col;
}

.aside-item {
    @apply flex flex-col gap-3.5;
}

.aside-item-title {
    @apply text-secondary-light/50 flex items-center justify-between px-5 font-extrabold cursor-pointer;
}

.aside-item-icon-container:before {
    @apply absolute bottom-0 left-0 w-full h-full;
    content: "";
    background-image: url("/assets/images/aside/bg-item-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.aside-item-icon-container.active img {
    transform: rotate(180deg);
}

.aside-item-icon-container {
    @apply flex items-center justify-center p-1.5 rounded-lg relative w-[26px] h-[26px] flex-shrink-0;
    fill: linear-gradient(
        180deg,
        rgba(199, 211, 255, 0.05) 0%,
        rgba(199, 211, 255, 0.2) 100%
    );
    stroke-width: 1px;
    stroke: rgba(199, 211, 255, 0.25);
}

.aside-item-content {
    @apply text-secondary-light/50 fill-primary relative py-4 pl-5 mr-5 overflow-hidden font-semibold transition-all border-l-2 border-transparent cursor-pointer;
    position: relative;
}

.aside-item-content:before {
    @apply -z-10 absolute inset-0;
    content: "";
    background: transparent;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.aside-item-content:hover:not(.active):before,
.aside-item-content.active:before {
    background: linear-gradient(
        90deg,
        rgba(41, 138, 255, 0.1) 0%,
        rgba(41, 138, 255, 0) 100%
    );
    opacity: 1;
}

.aside-item-content:hover:not(.active),
.aside-item-content.active {
    @apply fill-primary border-primary rounded-r-xl text-white border-l-2;
}

.aside-item-content.active svg {
    @apply fill-primary text-primary;
}

.aside-item-content:hover:not(.active):after,
.aside-item-content.active:after {
    @apply top-1/2 absolute left-0 w-4 h-4 -translate-y-1/2;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--primary, #298aff);
    filter: blur(15px);
    background-position: center;
}

.bg-main-container-1 {
    background-image: url("/assets/images/main/container1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1600px) and (min-width: 1000px) {
    /* .bg-main-container-1 {
        background-image: url('/assets/images/main/container1_laptop.png');
        background-size: cover;
        background-position: center right;
    } */

    .vip-image {
        background-image: url("/assets/images/main/vip_laptop.png") !important;
        background-position: bottom !important;
        background-size: contain !important;
    }

    .support-image {
        background-position: top !important;
    }
    .games-image {
        background-image: url("/assets/images/main/games_laptop.png") !important;
        background-position: bottom !important;
        background-size: contain !important;
    }
    .character {
        min-height: 250px !important;
    }
    .charters > div:first-child .character {
        @apply pt-2;
    }

    .bonus_banner {
        background-image: url("/assets/images/account/bg/bonus_banner_laptop.png") !important;
        background-size: contain !important;
        background-position: bottom !important;
    }
}
@media screen and (max-width: 760px) {
    .bg-main-container-1 {
        background-image: url("/assets/images/main/container1_mobile.png");
        min-height: 600px;
        background-size: contain;
        background-position: bottom;
    }
}
