@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-background text-white overflow-x-hidden;
    font-family: 'Inter', sans-serif !important;

}
.btn:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    z-index: 50;
    border-radius: 7px;
    background: linear-gradient(180deg, #E8EDFF 0%, rgba(232, 237, 255, 0) 100%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    pointer-events: none;
}
.btn {
    @apply py-3 flex items-center gap-2 font-semibold leading-none relative hover:opacity-80;
    position: relative;
    overflow: hidden;
    border-radius: 8px;

    

    color: #FFF7E8;
    cursor: pointer;
    transition: all 0.3s ease;

    overflow: hidden;
}

input {
    box-shadow: none !important;
    outline: none !important;
    background-color: transparent !important;
    border: none !important;
    font-size: 16px;
    padding: 0 !important;
    font-weight: 500;
}

.main-input-wrapper {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid transparent;
}

.main-input {
    @apply bg-secondary-sidebar-dark-1 rounded-xl p-4;
    border-radius: 10px;
    background: #171F3D;
    border: 1px solid #212B50;
    position: relative;
    z-index: 1;
}

.main-input-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #47F260, #47F260);
    animation: slide 2s linear infinite;
    z-index: 0;
    pointer-events: none;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.btn-green::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 37px;
    height: 20px;
    filter: blur(25px);
    background: #47F260;
}

.btn-green {
    border-radius: 8px;
    border: 1px solid rgba(93, 223, 89, 0.00);
    background: rgba(93, 223, 89, 0.10);
    color: #47F260;
}

.btn-primary {
    background: #298AFF;
    box-shadow: 0px 4px 4px 0px rgba(41, 138, 255, 0.25), 0px 0px 10px 0px rgba(255, 255, 255, 0.25) inset;
}

.nav-element:hover::before {
    opacity: 100;
}

.nav-element::before {
    content: '';
    transition: opacity 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    width: 36px;
    height: 16px;
    filter: blur(25px);
    background: #298AFF;
}

a:hover svg {
    @apply fill-primary opacity-100;
}

a svg {
    opacity: 0.5;
}

a {
    @apply text-secondary-light/50 transition-all hover:text-white cursor-pointer font-semibold;
}

.nav-element svg {
    @apply w-6 h-6 fill-secondary-light/50;
}

.nav-element.active svg {
    @apply fill-white opacity-100;
}

.nav-element.active {
    @apply text-white;
}

.nav-element {
    @apply flex items-center gap-2 h-full w-fit font-semibold text-lg text-secondary-light/50 relative;
}

.btn-orange {
    background: #FF9429;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(255, 166, 41, 0.25);

}

header {
    @apply h-[100px] bg-background px-5 flex items-center overflow-hidden;
    border-bottom: 1px solid rgba(199, 211, 255, 0.05);
}

aside {
    @apply bg-secondary-sidebar max-w-[250px] w-full flex flex-col h-screen;
}

.aside {
    @apply bg-secondary-sidebar fixed max-w-[250px] w-full flex flex-col h-screen z-50;
}

.logo-container {
    @apply flex items-center justify-center h-[100px] flex-shrink-0 text-xl font-extrabold gap-2.5;
    background-image: url('/assets/images/aside/bg-logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.aside-info-container {
    @apply px-5
}

.aside-items-container {
    @apply flex flex-col gap-5;
}

.aside-items {
    @apply flex flex-col;
}

.aside-item {
    @apply flex flex-col gap-3.5;
}

.aside-item-title {
    @apply flex justify-between items-center font-extrabold px-5 cursor-pointer text-secondary-light/50;
}

.aside-item-icon-container:before {
    @apply absolute bottom-0 left-0 w-full h-full;
    content: '';
    background-image: url('/assets/images/aside/bg-item-icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.aside-item-icon-container.active img {
    transform: rotate(180deg);
}

.aside-item-icon-container {
    @apply flex items-center justify-center p-1.5 rounded-lg relative w-[26px] h-[26px];
    fill: linear-gradient(180deg, rgba(199, 211, 255, 0.05) 0%, rgba(199, 211, 255, 0.20) 100%);
    stroke-width: 1px;
    stroke: rgba(199, 211, 255, 0.25);
}


.aside-item-content {
    @apply pl-5 mr-5 text-secondary-light/50 fill-primary border-l-2 border-transparent transition-all font-semibold py-4 cursor-pointer relative overflow-hidden;
    position: relative;

}

.aside-item-content:before {
    @apply absolute inset-0 -z-10;
    content: '';
    background: transparent;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.aside-item-content:hover:not(.active):before,
.aside-item-content.active:before {
    background: linear-gradient(90deg, rgba(41, 138, 255, 0.10) 0%, rgba(41, 138, 255, 0.00) 100%);
    opacity: 1;
}

.aside-item-content:hover:not(.active),
.aside-item-content.active {
    @apply text-white fill-primary border-l-2 border-primary rounded-r-xl;
}

.aside-item-content.active svg {
    @apply fill-primary text-primary
}

.aside-item-content:hover:not(.active):after,
.aside-item-content.active:after {
    @apply absolute top-1/2 left-0 w-4 h-4 -translate-y-1/2;
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--primary, #298AFF);
    filter: blur(15px);
    background-position: center;
}

.bg-main-container-1 {
    background-image: url('/assets/images/main/container1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}